* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.frame {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.frame img {
    width: 35%;
    margin: 0 auto;
}