.food-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.food-title {
    font-size: 1.3em;
    font-weight: lighter;
}

.img-food {
    border-radius: 39px;
    background: #fff;
    margin: 7px;
    cursor: pointer;
    border: 2px solid #e876ca;
    width: 150px;
}

.img-food:hover {
    filter: drop-shadow(0 20px 1.5rem #ff6060);
}

.food-type {
    position: absolute;
    font-weight: bold;
    top: 81%;
    left: 22%;
    font-size: 1.2em;
    color: brown;
}

@media screen and (max-width: 799px) {
    .img-food {
        width: 110px;
        filter: none;
    }
    .food-type {
        display: none;
    }
    .food-title {
        font-size: 1em;
    }
}