.rana-section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10px;
}   

.rana-section img {
    width: 400px;
}

@media screen and (max-width: 819px) {
    .rana-section {
        width: 100%;
    }    

    .rana-section img {
        width: 90%;
    }
}