#reload {
    font-size: 1.5em;
    padding: 5px 12px;
    margin: 0 5px 15px 5px;
    border-radius: 10px;
    border: none;
    background: #ffebf1;
    box-shadow:  6px 6px 12px #bebebe,
             -6px -6px 12px #ffffff;
    color: #ec739f;
    cursor: pointer;
}
